<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css" />
  <title><%= title %></title>
</head>

<body>
  <main>
    <nav class="auth-btns-container">
      <%- !status ? '<a href="/log-in" class="log-in-btn">Log in</a>' : "" %>
      <%- !status ? '<a href="/sign-up" class="sign-up-btn">Sign up</a>' : "" %>
      <%- status === 'author' ? '<a href="/join-club" class="join-club-btn">Join club</a>' : "" %>
      <%- status ? '<a href="/new-post" class="new-post-btn">Create post</a>' : "" %>
    </nav>
    <article>
      <% posts.forEach(post => { %>
      <div class="post-card">
        <%- status === 'member' || status === 'admin' ? include("partials/post-card-bio", {post}) : "" %>
        <h2><%= post.title %></h2>
        <div><%= post.text %></div>
      </div>
      <% }); %>
    </article>
  </main>
</body>

</html>